
<h3> Add a Complaint! </h3>

<form method="post" action="">
	Complaint: <input type="text" name="complaint" required >
	Subway Line: <input type="text" name="subwayline" required >
	<input type = "submit" value= "Complaint">
</form><br>


