<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/subway.jpg" height="350" width="350" >
  </head>
  <body>
    {{{body}}}
    <footer>
		<a href="/">Complaint List</a>
		<a href="/complain">Complain</a>
		<a href="/stats">Stats</a>
	</footer>
  </body>
  
</html>
